.drawer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.drawer-handle-icon-container {
    padding-right: 10px;
}

.drawer-handle-icon {
    transition: transform 0.3s ease-out;
}

.drawer-contents {
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    align-content: flex-end;
}

.part {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.part-image-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.part-image {
    z-index: 1;
}

.part-label {
    text-align: center;
}